.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa;
  transform: translateY(-350px);
}

.loading-text {
  font-size: 3rem;
  font-weight: bold;
  color: #123abc;
  margin-bottom: 1rem;
  animation: loadingAnimation 1.5s infinite;
}

@keyframes loadingAnimation {
  0%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-50px); 
  }
}
